body{
    overflow-x: hidden;
    text-align: center;
}
#eximg{
    height: 700px;

margin-top: 5%;
}
.container-text-align {
    text-align: center;
}

.container-text-align img {
    display: inline-block;
}
#retour{
color: red;
    text-decoration: none;
    min-width: 50px;
} 
