@font-face {
    font-family: Rubik;
    src: url("img/Rubik-medium.ttf");
}
body {
    margin: 0;
    font-family: Rubik;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;
    color: rgb(2, 2, 2);
    border-radius: -150px;
    box-shadow: 0 0 10px #3C91E6;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    margin-right: 10px;
}

.nav-links a {
    position: relative;
    color: rgb(2, 2, 2);
    text-decoration: none;
    margin-left: 20px;
    overflow: hidden;
}

.nav-links a::before,
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3C91E6;
    transition: width 0.3s ease; /* Transition pour l'effet d'expansion */
}

.nav-links a::before {
    top: 0;
    left: 0;
}

.nav-links a::after {
    bottom: 0;
    left: 0;
}

.nav-links a:hover::before,
.nav-links a:hover::after {
    width: 100%; /* Expansion complÃ¨te au survol */
}

.nav-links a:hover {
    color: #3C91E6;
    /*Changementdecouleurausurvol*/transition: color 0.3s ease;
     /* Transition pour le changement de couleur */
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}



footer {
    margin-top:  auto;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #3C91E6;
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.comment-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3C91E6;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #3C91E6;
    text-align: center;
    display: none;
}
#cookie-banner button:hover{
    padding: 5px 10px;
    cursor: pointer;
}
ul {
    list-style: none; /* supprime les puces par défaut */
    padding: 0; /* supprime l'espacement intérieur par défaut */
    margin: 0; /* supprime l'espacement extérieur par défaut */
    display: flex; /* affiche les éléments de la liste sous forme de flexbox */
    flex-direction: column; /* les éléments sont empilés verticalement */
    gap: 10px; /* ajoute de l'espacement entre les éléments */
    width: 100%; /* la largeur de la liste est définie sur 100% de la largeur de son conteneur */
    max-width: 600px; /* la largeur maximale de la liste est définie à 600px */
    margin: 0 auto; /* centrer la liste horizontalement */
  }
  
  ul li {
    background-color: rgb(255, 255, 255); /* couleur de fond gris clair */
    padding: 10px; /* ajoute de l'espacement intérieur */
    border-radius: 5px; /* arrondit les coins */
    transition: transform 0.3s ease; /* ajoute une animation de transition lors du survol */
  }
  
  ul li:hover {
    
    box-shadow: 0 0 10px #3C91E6; /* ajoute une ombre lors du survol */
  }
  
  ul a {
    text-decoration: none; /* supprime le soulignement des liens */
    color: #333; /* couleur du texte noire */
    transition: color 0.5s ease; /* ajoute une animation de transition lors du survol */
  }
  
  ul a:hover {
    color: #3C91E6; /* couleur du texte rouge lors du survol */
  }
  .flotte:hover{
    transform: translateY(-5px);
    
  }
  .retour{
    background-color: gray;
    transition: transform 0.3s ease;
  }
  .retour a{
    color: white;
  }
  .retour:hover{
    background-color: white;
    box-shadow: 0 0 10px red;
    transform: translateY(-5px); 
  }
  .retour a:hover{
    color: black;
  }